.main-grid {
  display: grid;
  height: 100vh;
  position: relative;
  font-size: 15px;

  .column {
    padding: 16px 32px;
    overflow-y: scroll;
  }

  .indices {
    display: block;
    position: relative;
    padding-left: 16px;
    background-color: #fff;
    border-right: solid 1px #ddd;

    p {
      margin: 1em 0 0;
    }
  }

  .resize-handler {
    background-color: #f2f2f2;
    cursor: col-resize;

    &:hover {
      border-left: solid 1px #929292;
    }
  }

  .topic-heading {
    font-weight: 600;
  }
}
